* {
  margin:0;
  padding: 0;
  box-sizing:0;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
  background: linear-gradient(to bottom, #1e1f33, #3a3b5a);
  color:white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero{
  backgr
